.project_slide{
    .swiper-slide{
        width: 100% !important;
      }
      .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0px !important;
        left: 0;
        width: 100%;
      }
      .swiper-pagination-bullet-active {
        background: #fff !important;
      }
      @media (max-width: 1024px) {
        .swiper{
            width: 400px;
            padding-bottom: 80px;
        }
        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
          bottom: 10px !important;
          left: 0;
          width: 100%;
        }
      }
      @media (max-width: 400px) {
        .swiper{
            width: 300px
        }
      }
      
}