.project{
    background-image: url('../../assets/images/background.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    position: relative;
    .logo{
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 99;
    }
    h2{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        text-align: center;
        
        color: #FAFAFA;
    }
    .card-wrapper_x{
        display: flex;
        justify-content: space-evenly;
        padding-top: 30px;
        width: 297px ;
        margin: 0 auto;
        .card{
            background: rgba(250, 250, 250, 0.3);
            border: 1px solid #FAFAFA;
            backdrop-filter: blur(40px);
            border-radius: 30px;
            height: 300px;
            padding: 48px 0;
            align-items: center;
            width: 100%;
            .main-title{
                border-radius: 30px;
                height: 218px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 27px;
                img{
                    width: 50%;
                    object-fit: contain;
                }
            }
            h3{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }
            .btn{
                background: #D9D9D9;
                border-radius: 30px;
                width: 115px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                cursor: pointer;
                color: #1B1B1B;
                margin-top: 10px;
            }
            .yellow{
                background: #FFC131;
                border-radius: 20px;
            }
        }
    }
    
}

@media screen and (max-width:1024px) {
    .project{
        .card-wrapper_x{
          
            max-width: 300px !important;
            margin: 0 auto;
            
            }
        
    }
}
@media screen and (max-width:998px) {
    .project{
        .card-wrappe_x{
          
            max-width: 300px;
            margin: 0 auto;
            
            }
        
    }
}

@media screen and (max-width:768px) {
    .project{
        .card-wrapper_x{
          
            max-width: 360px;
            margin: 0 auto;
            
            }
        
    }
}

@media screen and (max-width:450px) {
    .project{
        .card-wrapper_x{
            max-width: 350px;
            margin: 0 auto;
            
            }
    }
}
@media screen and (max-width:400px) {
    .project{
        .card-wrapper_x{
            max-width: 300px;
            margin: 0 auto;
            
            }
    }
}