.service {
    background-image: url('../../assets/images/background-2.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    position: relative;

    .logo {
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 99;

        @media screen and (max-width: 500px) {
            position: relative !important;
            display: grid;
            place-items: center;
            z-index: 99;
            left: 0 !important;
        }
    }
    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        text-align: center;

        color: #FAFAFA;
    }
    .card-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 60px;

        .card {
            box-sizing: border-box;
            background: rgba(250, 250, 250, 0.3);
            border: 1px solid #FAFAFA;
            backdrop-filter: blur(40px);
            border-radius: 30px;
            padding: 26px 30px;
            height: 500px;

            .main-title {
                background: #FAFAFA;
                border-radius: 30px;
                height: 218px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 19px;

                img {
                    width: 200px;
                    padding: 12px;
                }
            }

            h3 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                margin-top: 10px;
                margin-bottom: 22px;
            }

            .buttons-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .btn {
                background: #D9D9D9;
                border-radius: 30px;
                width: 100%;
                max-width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                cursor: pointer;
                color: #1B1B1B;
            }

            .yellow {
                background: #FFC131;
                border-radius: 20px;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .service .card-wrapper .card {
        box-sizing: border-box;
        background: rgba(250, 250, 250, 0.3);
        border: 1px solid #FAFAFA;
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(40px);
        border-radius: 30px;
        padding: 26px 10px;
        height: 500px;
    }
}


@media screen and (max-width:1024px) {
    .service {
        .title {
            margin-top: 30px;
            h2 {
                font-size: 40px;
                line-height: 40px;
            }
        }

    }
}
