.me_page3{
    background-image: url('../../assets/images/background-2.jpg');
    min-height: 100vh;

    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    place-items: center;
    padding-top: 15px;
}
.about_bro{
    display: flex;
    align-items: flex-start;
  gap:29px ;

}
.about_left{
    width: 50%;
    .bro_img{
        width: 100%;
        object-fit: contain !important;
height: 350px !important;
    }
    .left_in{
        display: flex;
flex-direction: row;
align-items: flex-start;
padding: 9px 25px !important;
width: 100%;
height: 58px !important;
background: rgba(217, 217, 217, 0.3);
border-radius: 40px;
margin-bottom: 18px;
p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px !important;
line-height: 24px;
text-align: center;
color: #CDCDCD;

}
    }
}

.about_right{
    width: 47%;
    
    h2{
        // width: 64px;
        
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 62px;
line-height: 68px;
width: 100%;

color: #FFFFFF;
margin-top: 20px;
margin-bottom: 32px;
    }
    p{
        margin-bottom: 40px;
        width: 100%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 39px;
color: #CDCDCD;
    }

    ul{
        list-style: none;
        width: 100%;
height: auto;
background: rgba(217, 217, 217, 0.3);
border-radius: 40px;
padding: 20px 30px;
li{
margin-top: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
width: 100%;
font-size: 16px;
line-height: 29px;
color: #CDCDCD;
}
    }
}
.about_lang{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // scroll-behavior: smooth;
    // overflow-x: scroll;
}
.lang_box{
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 3px;
        margin-bottom: 3px;
        p{
            font-family: 'Bookman Old Style';
font-style: normal;
font-weight: 300;
font-size: 25px;
height: auto;
letter-spacing: 0.065em;
color: #FFFFFF;
margin-bottom: 0 !important;
}
        img{
            display: block;
            height: 27px;
            width: 36px;
        }
    }
    .mydots{
        display: none;
        width: 140px ;
        object-fit: cover;
    }
}
@media screen and (max-width:1384px) {

    .about_left{
        width: 50%;
        .bro_img{
            width: 100%;
            object-fit: cover;
    height: 460px;
        }
        .left_in{
            padding: 31px 15px;
    gap: 10px;
    width: 100%;
    height: 100px;
  
    margin-bottom: 24px;
    p{
    font-size: 30px;
    line-height: 44px;
 
    }
        }}
    
}
@media screen and (max-width:1209px) {
    .about_left{
        width: 50%;
        .bro_img{
            width: 100%;
            object-fit: contain;
    height: 460px;
        }
        .left_in{
            display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 31px 25px;
    gap: 10px;
    width: 100%;
    height: 106px;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 40px;
    margin-bottom: 22px;
    p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #CDCDCD;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
        }
    }
    
    .about_right{
        width: 47%;
        
        h2{
            // width: 64px;
            
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    line-height: 98px;
    width: auto;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 52px;
        }
        p{
            margin-bottom: 164px;
            width: 100%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #CDCDCD;
        }
    
        ul{
            list-style: none;
            width: 100%;
    height: 390px;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 40px;
    padding: 26px 38px;
    li{
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    color: #CDCDCD;
    }
        }
    }
    .about_lang{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // scroll-behavior: smooth;
        // overflow-x: scroll;
    }
    .lang_box{
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            align-items: center;
            // justify-content: center;
            gap: 3px;
            margin-bottom: 3px;
            p{
                font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    height: auto;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    margin-bottom: 0 !important;
    }
            img{
                display: block;
                height: 27px;
                width: 36px;
            }
        }
        .mydots{
            width: 150px;
            object-fit: cover;
        }
    }
}
@media screen and (max-width:999px) {
    .about_lang{
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    row-gap: 10px;
    }
    .lang_box{
        div{
            gap: 3px;
            margin-bottom: 3px;
            p{
    font-size: 25px;

    }
            img{
                display: block;
                height: 17px;
                width: 26px;
                object-fit: cover;
            }
        }
        .mydots{
            height: 20px;
            width: 80px;
        }
    }
}


@media screen and (max-width:999px) {
    .about_bro{
      
      gap:15px ;
      flex-wrap: wrap;
    
    }

    .about_left{
        width: 50%;
    
        .left_in{
    padding: 21px 15px;
    gap: 10px;
    width: 100%;
    height: 90px;
  
    margin-bottom: 24px;
    p{
        width: 100%;
    font-size: 26px;
    line-height: 45px;
 
    }
        }}
    

        .about_right{
            width: 47%;
            h2{
        font-size: 58px;
        line-height: 78px;
       
        margin-top: 20px;
        margin-bottom: 32px;
            }
            p{
                margin-bottom: 104px;
                width: 100%;
        font-size: 22px;
        line-height: 39px;
     
            }
        
            ul{
                width: 100%;
        height: auto;
    
        padding: 26px 38px;
        li{
        margin-top: 10px;
        font-size: 18px;
        line-height: 22px;
        }
            }
        }
        
}
.mobile_name{
    display: none;
    align-items: center;
    justify-content: center;
flex-direction: row;
padding: 24px 25px;
gap: 10px;
width: 100%;
height: 34px;
background: rgba(217, 217, 217, 0.3);
border-radius: 40px;
p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
text-align: center;
color: #FFFFFF;
height: 27px;
}
}
.mobile_bio{
    display: none;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #CDCDCD;
}
@media screen and (max-width:768px) {
    .about_bro{
      
      gap:15px ;
      flex-wrap: wrap;
    
    }
    .mobile_name{
        display: flex;
     
    }
    .mobile_bio{
        display: block;
    }

    .about_left{
        width: 100%;
        .bro_img{
            width: 298px;
            text-align: center;
            height: 200px;
            // margin: 0 auto;
            object-fit: contain;
            margin-left: calc(50% - 149px);
        }
    
        .left_in{
    padding: 21px 15px !important;
   
    height: 40px !important;
    margin-bottom: 14px;
    p{
        width: 100%;
    font-size: 18px !important;
    line-height: 0px;
 
    }
        }}
    

        .about_right{
            width: 100%;
            h2{
       display: none;
            }
            p{
                display: none;
     
            }
        
            ul{
    
        padding: 16px 28px;
        li{
        margin-top: 5px;
        font-size: 13px;
        line-height: 18px;
        }
            }
        }
        
}
@media screen and (max-width:500px) {
    .about_left{
        .bro_img{
            object-fit: contain !important;
    height: 190px !important;
        }}
    .mobile_name{
        display: flex;
            p{
            font-weight: 600!important;
            font-size: 22px;
            line-height: 39px!important;
            height: 27px!important;
            }
    }
    .about_lang{
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    row-gap: 10px;
    }
    .about_lang{
        display: flex !important;
        gap: 12px;
        justify-content: flex-start !important;
    }
    .lang_box{
        div{
            gap: 10px;
            margin-bottom: 3px;
            p{
    font-size: 16px;

    }
            img{
                display: block;
                height: 15px;
                width: 24px;
                object-fit: cover;
            }
        }
        .mydots{
            display: none;
        }
    }
}