.me_page{
    background-image: url('../../assets/images/background-2.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    place-items: center;
}