.about_page {
    background-image: url('../../assets/images/background-2.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    place-items: center;
    .logo {
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 99;
    }

    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        text-align: center;
        color: #FAFAFA;
        margin-bottom: 40px;
    }

    .lists {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 50px;
        ul {
            padding-left: 0;
            margin-bottom: 0;

            li {
                display: flex;
                align-items: flex-start;
                gap: 12px;
                margin-bottom: 30px;
                img {
                    object-fit: cover;
                }
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 36px;
                line-height: 44px;
                color: #CDCDCD;
            }
        }
    }
    .btn_homes{
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            border-radius: 40px;
            margin-right: 20px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.065em;
            color: #1F1A1A;
            padding: 14px;
            margin-top: 30px;
            text-align: center;
            max-width: 300px;
            margin: 30px auto;
        }
    }
}



@media (max-width: 500px){
    .about_page{
        display: inline-flex;
        place-items: center;
        .logo {
            position: relative;
            display: grid;
            place-items: center;
            z-index: 99;
            left: 0;
            top: -5px;

        }
        h2{
            font-size: 36px;
            line-height: 40px;
            margin-top: 10px;
        }
        .lists{
            display: block;
            ul li{
                font-size: 18px;
                line-height: 27px;
                margin-bottom: 25px;
            }
        }
        .btn_homes a{
            font-size: 17px;
            line-height: 23px;
            letter-spacing: 0.065em;
            color: #1F1A1A;
            padding: 14px 0px;
            margin-top: 30px;
            text-align: center;
            width: 50%;
        }
    }
}