
.overlay{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999 !important;
}
.modal-button{
    position: absolute;
top: -15px;
right: -15px;
color: black;
font-size: 50px;
width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
background: #fff;
border-radius: 50%;
border: 1px solid gray;
}
.wrapper{
    position: fixed;
    // width: 46%;
    margin: 0 auto;
    padding: 48px 0px  0px 25px;
top: calc(50vh - 219px);
    width: 860px;
    height: 438px;
    background: linear-gradient(94.37deg, #398E93 9.54%, #2E2755 76.2%);
    border-radius: 40px;
}
.modal_body{
display: flex;
align-items: flex-start;
justify-content: center;
}
.modal_left
{
    h3{
        max-width: 564px;
height: 95px;
font-family: 'Bookman Old Style';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.065em;
color: #FFFFFF;
margin-bottom: 39px;

    }
    p{
        max-width: 525px;
height: auto;
font-family: 'Bookman Old Style';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.065em;
color: #FFFFFF;
margin-bottom: 10px;
    }
    button{
        width: 322px;
height: 51px;
display: flex;
align-items: center;
justify-content: center;
background: #000000;
color: #fff;
border-radius: 40px;
margin-top: 35px;
    }
}
.modal_right{
 
    width: 390px;
height: 390px;
position: relative;
div{
    width: 390px;
    height: 390px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-position-x: -50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
border-bottom-right-radius: 40px;

        background-image: url(../../assets/images/broimg_modal.png);
}

}
@media screen and (max-width:920px) {
    .wrapper{
        width: 80%;
        margin: 0 auto;
        padding: 48px 0px  0px 25px;
    top: calc(50vh - 219px);
    }
    .modal_right{
 
        max-width: 390px;
    max-height: 390px;
    position: relative;
    div{
        max-width: 290px;
        max-height: 280px;
        position: absolute;
        right: 0;
        bottom: 0px;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
            background-image: url(../../assets/images/broimg_modal.png);
    }
    
    }
}
@media screen and (max-width:768px) {
    .modal_right{
 display: none;
    }
    .modal_left
{
    h3{
        max-width: 564px;
height: 95px;
font-size: 24px;
line-height: 28px;
margin-bottom: 39px;

    }
    p{
        max-width: 525px;
letter-spacing: 0.065em;
margin-bottom: 10px;
    }
    button{
        width: 322px;
height: 51px;
border-radius: 40px;
margin: 0 auto;
margin-top: 35px;
    }
}
.wrapper{
    // width: 46%;
    padding: 48px 20px  10px 20px;
top: calc(50vh - 219px);

}
}
@media screen and (max-width:508px) {
    .modal_left
{
    height: auto;
    h3{
        max-width: 564px;
height: 95px;
font-size: 20px;
line-height: 26px;
margin-bottom: 19px;
height: auto;

    }
    p{
        max-width: 525px;
letter-spacing: 0.065em;
margin-bottom: 10px;
    }
    button{
        width: 80%;
height: 51px;
border-radius: 40px;
margin: 0 auto;
margin-top: 35px;
margin-bottom: 20px;
    }
}
.wrapper{
    width: 95%;
    padding: 48px 20px  10px 20px;
top: calc(50vh - 219px);

}
.modal-button{
    position: absolute;
top: -5px;
right: -5px;
color: black;
font-size: 50px;
width: 30px;
height: 30px;
}
}
.close{
    display: none !important;
}
.open{
    display: fixed;
}