.contacts {
    background-image: url('../../assets/images/background-2.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    position: relative;

    .logo {
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 99;
    }

    .title {
        h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 78px;
            text-align: center;
            color: #FAFAFA;
        }
    }

    .contact_menu {
        background: rgba(250, 250, 250, 0.2);
        border: 1px solid #FAFAFA;
        backdrop-filter: blur(40px);
        border-radius: 30px;
        min-height: 400px;
        margin-top: 60px;

        .contact_menu_item {
            display: flex;
            align-items: center;
            place-items: center;
            padding-left: 0;
            margin-bottom: 0;

            li {
                background: rgba(250, 250, 250, 0.1);
                backdrop-filter: blur(40px);
                padding: 27px 32px;
                width: 100%;
                height: 310px;
                list-style: none;
                display: grid;
                align-items: center;
                justify-content: center;

                img {
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    object-fit: contain;
                    margin-bottom: 18px;
                    opacity: 0.4;
                }

                h4 {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #FFFFFF;
                    opacity: 0.75;
                    margin-bottom: 7px;
                }

                span {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    opacity: 0.5;
                    margin-bottom: 0;
                }

                &:first-child {
                    border-top-left-radius: 30px;
                }

                &:last-child {
                    border-top-right-radius: 30px;
                }

                &:hover {
                    background: rgba(250, 250, 250, 0.05);
                    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25);
                    backdrop-filter: blur(40px);
                    transition: all .3s ease-in;

                    h4 {
                        opacity: 1;
                    }

                    img {
                        opacity: 1;
                    }

                    // border-radius: 30px 0px 0px 0px;
                }
            }
        }

        form {
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            margin-top: 24px;

            .form_control {
                input {
                    color: rgba(0, 0, 0, 0.87);
                    cursor: text;
                    display: inline-flex;
                    position: relative;
                    font-size: 1rem;
                    box-sizing: border-box;
                    align-items: center;
                    font-weight: 400;
                    line-height: 1.1876em;
                    letter-spacing: 0.00938em;
                    border: none !important;
                    border-bottom: 1px solid #fff !important;
                    background-color: transparent;
                    font-size: 1rem;
                    color: #FAFAFA;
                    padding: 12px 0;
                    &:focus{
                        border: none !important;
                        border-radius: none !important;
                        border-bottom: 1px solid #fff !important;
                        outline: none !important;
                    }
                }
            }

            .form_btn {
                button {
                    background: #FFC131;
                    border-radius: 20px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    color: #1B1B1B;
                    padding: 12px 10px;
                    border: none;
                    outline: none;
                }
            }
        }
    }

}